body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  color: #616971;
  background-color: #f2f2f2 !important;
}

/*  NavBar */
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: #5b5555 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #4981b3 !important;
}

.navbar-brand img {
  height: 3rem;
}
/* End of NavBar */

.form-foodTruck {
  width: 150px;
  margin-bottom: 10px;
}

/* Form */
.my-form-top-container {
  width: 100vm;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.my-form-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.my-form {
  width: 450px;
}
.my-form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.my-form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-form-div input[type="text"],
select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.my-form-div input[type="number"],
select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.my-form-div input[type="password"],
select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.my-form-div input[type="text"]:focus {
  border: 3px solid #555;
}
.my-form-icon {
  color: rgb(34, 190, 112);
}

.my-form-error {
  color: rgb(243, 99, 16);
  text-align: right;
}

.my-form-btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 0px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-size: 200%;
  transition: 0.5s;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .my-form-img {
    display: none;
  }

  .my-form-top-container {
    grid-template-columns: 1fr;
  }

  .my-form-wave {
    display: none;
  }

  .my-form-container {
    justify-content: center;
  }
}

/* End of Form */

/*  Menu List starts */
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(199, 196, 196, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.menu-btn-add {
  display: inline-block;
  width: 100%;
  text-decoration: none !important;
  color: #f2f2f2;
  background: rgb(6, 148, 82) !important;
  border: none;
  cursor: pointer;
}

.menu-btn-add:hover {
  background: #033b1f !important;
  color: #f2f2f2;
}

.menu {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.menu:hover {
  box-shadow: var(--lightShadow);
}

.menu-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.menu-info {
  background: #fff;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}

.menulist {
  padding: 5rem 0;
}

.menulist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

.menu-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}

.menu-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.menu-btn-primary {
  display: inline-block;
  text-decoration: none !important;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: #fdfdfb;
  padding: 0.4rem 0.9rem;
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.menu-btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.img-container:hover {
  background: rgba(70, 67, 67, 0.8);
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .price-top {
  opacity: 0;
}

.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}

.special-menu {
  padding: 0 0;
}

.special-menu-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
  .special-menu-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .special-menu-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* End of Menu List */

/* MenuDetails */
.menu-details-container {
  padding: 5rem 0 0 0;
}

.menu-details-image {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.menu-details-btn-add {
  display: inline-block;
  width: 40%;
  text-decoration: none !important;
  color: #f2f2f2;
  background: rgb(6, 148, 82) !important;
  border: none;
}

.menu-details-btn-add:hover {
  background: #033b1f !important;
  color: #f2f2f2;
}

.menu-details-image img {
  width: 75%;
}

.menu-info-container {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}

.menu-details-buttons {
  display: flex;
  text-align: center;
}

.menu-details-desc,
.menu-details-info {
  margin: 1rem 0;
}

.menu-details-desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.menu-details-desc p {
  line-height: 1.5;
  font-weight: 500;
}

.menu-details-info h3,
.menu-details-info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.menu-details-info h6 {
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .menu-details-image,
  .menu-info-container,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .menu-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .menu-details-info {
    padding-left: 3rem;
  }
}
/* End of MenuDetails */

/*  Menu Fitler*/
.filter-container {
  padding-bottom: 5rem;
}

.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

.filter-group {
  text-transform: capitalize;
}

.filter-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}

.filter-control {
  width: 80%;
  background: transparent;
  font-size: 1rem;
}

.size-inputs {
  display: flex;
}

.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}

.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}

@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1000px;
  }
}
/* End of Menu Fitler */

/* My order starts */
.order-total {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-img-thumbnail {
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  width: 70px;
}

.checkout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.checkout-btn {
  width: 30%;
  height: 50px;
  border-radius: 0px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-color: #32be8f;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-size: 100%;
  transition: 0.5s;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity {
  border: 1px solid #14691b;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding-top: 2px;
  height: 30px;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

.quantity-btn {
  border: 1px solid #14691b;
  border-radius: 0.2rem;
  color: #05964e;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 2px;
  height: 30px;
  width: 25px;
}
/* End of My Order */

.cart-icon {
  margin-top: 8px;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.detail-photo {
  object-fit: cover;
  /* height: 200px; */
  border: 0.1rem solid #7c7b79;
  border-radius: 0.12rem;
  width: 100%;
}

.photo {
  object-fit: cover;
  height: 200px;
  border: 0.25rem solid #c59d5f;
  border-radius: 0.5rem;
  width: 100%;
}

.item-info {
  width: 325px;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted hsl(209, 23%, 60%);
}

.item-info h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.price {
  color: #c59d5f;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Footer starts */
.footer {
  background-color: #2b352d;
  /* 343a40 */
  margin-top: 5rem;
  padding: 1rem 2rem 3rem;
}

.footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}

.socket-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.socket-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.footer p,
.footer a,
.socket a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;
}

.footer .svg-inline--fa {
  font-size: 2.3rem;
}

.footer .svg-inline--fa:hover {
  color: #68a0d2;
}
/* End of Footer */

/* Title starts */
.section-title {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title div {
  width: 15rem;
  height: 5px;
  margin: 0 auto;
  background: #7daf7d;
}
/* End of Title */

/* Banner starts */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.banner h1 {
  font-size: 3rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.banner-btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.banner-btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.defaultBanner {
  min-height: calc(100vh - 200px);
  background: url("./images/pancakes.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

/* Feature Section starats */
.feature-container {
  padding: 0 0;
}

.feature-grid {
  display: grid;
  margin: 0 auto;
  grid-column-gap: 30px;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
}

.feature-item {
  text-align: center;
  box-shadow: -1px 7px 13px 0px rgba(10, 10, 10, 0.08);
}

.feature-item h5 a {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: var(--heading-color);
  margin: 30px 0 15px;
  display: inline-block;
}

.feature-item h5 a:hover {
  color: var(--primary-color);
}

.feature-item p {
  padding-left: 15px;
  padding-right: 15px;
}
.feature-item span {
  font-size: 35px;
}

.span-margin {
  margin-top: 5px;
}

@media screen and (min-width: 776px) {
  .feature-container {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .feature-container {
    width: 95vw;
    max-width: 1170px;
  }
}
/* End of Feature section */

/* Top Bar starts */
.top-bar {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #29150a;
  height: 2.8rem;
  width: 100%;
}

.top-bar div {
  width: 400px;
  font-size: 0.5rem;
}

.top-bar a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
}

.top-bar a:hover {
  text-decoration: underline;
  font-size: 0.9rem;
  color: white;
}
/* End of Top Bar */

.loading-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
